
body {
  font-family: 'Raleway', 'sans-serif';
  background-color: #fff;
  margin: 0;
    padding: 0;

}

.black-header {
    background-color: #000;
    color: #fff;
    padding: 2px 0; /* Adjust the padding as needed */
}

.logo img {
    width: 60px;
    height: auto;
    overflow: hidden;
    float: left;
}



#header .logo {
  
}

#header .logo img {
  width: 100%;
  overflow: hidden;
}




.player{
  aspect-ratio: 16/9;
  width: 100%;
}

  .last{
    min-height: 100%;
    background: url("/static/bg1.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-bottom: 30px;
}
.card-container{
    display: grid;
    grid-template-columns: 420px 420px;
    margin-left: 10px;
}

.last h2{
    padding-bottom: 40px;
    margin-bottom: 20px;
}
.card-content{
    background: #808080;
    height: 430px;
}
.card-content h2{
    text-align: center;
    color: #000000;
    padding: 25px 0 10px 0;
    font-size: 26px;
    font-weight: 500;
}
 
.form-row{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.form-row-1{
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.form-row-2{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
form select, form input{
    display: block;
    width: 100%;
    margin: 15px 12px;
    padding: 5px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    outline: none;
    border: none;
    border-bottom: 1px solid #eee;
    font-weight: 999;
    border-radius: 20px;
}
form input[type = text], form input[type = number], form input::placeholder, select{
    
    background: #FFFFFF;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 90%;
  padding:5px;
  font-size: 18px;
  font-weight: 999;
  border:none;
  color: #000000;
  border-radius: 20px;
}
form input[type = submit]{
    color:#FFFFFF  ;
    background: #000000;
    padding: 12px 0;
    border-radius: 4px;
    font-weight: 999;
    cursor: pointer;
    border-radius: 20px;
}

form input[type = submit]:hover{
    opacity: 0.9;
}

input[type="date"]{
  background: #FFFFFF;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 90%;
  padding:5px;
  font-size: 18px;
  font-weight: 999;
  border:none;
  color: #000000;
  border-radius: 20px;
}

input[type="time"]{
 /*
 color: #9a9a9a; 
 width:200px;
  height:30px;
  position:absolute;
  transform:translate(-50%,-50%);*/
  background: #FFFFFF;
  background-size: 30px;
  background-repeat: no-repeat;
  background-position: 90%;
  padding:5px;
  font-size: 18px;
  font-weight: 999;
  border:none;
  color: #000000;
  border-radius: 20px;
}

  

@media(max-width: 992px){
    .card-container{
        grid-template-columns: 100%;
        width: 100vw;
    }
    .card-img{
        height: 330px;
    }
}

footer {
    width: 100%;
    background: black;
}

footer.row p {
    color: #000000;
}

footer.social_icon {
     float: right;
     display: flex;
}

footer.social_icon h3 {
     color: #fff;
     font-size: 17px;
}

footer.social_icon li {
     display: inline-block;
}

footer.social_icon li a {
     background: #fff;
     width: 37px;
     height: 37px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 25px;
     border-radius: 30px;
     margin: 0 3px;
     color: #440e62;
}

footer.social_icon li a:hover {
     background-color: #f4cb1e;
     color: #fff;
}


/*
footer .social {
    padding:20px 0;
}

footer .social a {
    margin:0 3px;
    width:30px;
    height: 30px;
    line-height: 32px;
    text-shadow:1px 1px 1px rgba(0,0,0,.1);
    font-size:15px;
    display: inline-block;
    text-align: center;
    position: relative;
    color:#cccccc;
    z-index:2;
}
footer .social a:before {
    content:' ';
    z-index:-1;
    border-radius:50%;
    transition:all 0.15s ease;
    position:absolute;
    width:0; height:0;
    top:50%;
    left:50%;
    background:black;
}
footer .social p:hover {
    color:white;
}
footer .social a:hover:before { 
    width:100%;
    height:100%;
    top:0; left:0;
}
footer .social a:active:before {
    width:200%;
    height: 200%;
    opacity: 0;
    top:-50%;
    left:-50%;
}

footer .social a.facebook:before {background:#3b5998;}
footer .social a.twitter:before {background:#55acee;}
footer .social a.dribbble:before {background:#ea4c89;}
footer .social a.vine:before {background:#00b488;}
footer .social a.google-plus:before {background:#dd4b39;}

footer .social a.facebook:active {color:#3b5998;}
footer .social a.twitter:active {color:#55acee;}
footer .social a.dribbble:active {color:#ea4c89;}
footer .social a.vine:active {color:#00b488;}
footer .social a.google-plus:active {color:#dd4b39;}
*/